@import "./log";
@import './home';
@import './profil';

#root {
  display: flex;
  justify-content: center;
  height: fit-content;
}

body{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.page-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;

  header{
    flex-grow: 1;
  }

  main{
    flex-grow: 2;
  }

  .main-container {
      width: fit-content;
      min-height: 100vh;

    .main-wrapper {
      width: 100%;
      display: flex;
      column-gap: 2.5rem;
      
      .content-container{
        width: 100%;
        height: max-content;
        max-width: 37.5rem;
        min-height: 100vh;
        box-sizing: border-box;
        border-left: 1px solid rgb(239, 243, 244);
        border-right: 1px solid rgb(239, 243, 244);
      }
    }
  }
}
